{% extends "base.html" %} {% block content %} {% if code|length != 2 %}

<div>
  <h2>{{ title }}</h2>
  {% if sub_title %}
  <h3>{{ sub_title }}</h3>
  {% endif %} {% if result_list %}
  <ul>
    {% for message in result_list %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <pre
    class="prettyprint"
  ><code class="language-javascript">{{ code }}</code></pre>
</div>

{% else %}

<div class="flex flex-row justify-center items-center h-screen">
  <h2 class="text-2xl font-bold text-center text-red-500">
    You are not authorized to view this page
  </h2>
  <h2 class="text-2xl font-bold text-center text-red-500">
    Go to
    <a
      href="/login"
      class="text-2xl font-bold text-center text-blue-500 hover:text-blue-700"
      >login now</a
    >
  </h2>
</div>

{% endif %} {% endblock %}
