{% extends "base.html" %} {% block content %}
<div>


  <div class="p-5">
    <div class="relative overflow-x-auto">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            {% for header in headers %}
            <th scope="col" class="px-6 py-3">{{header}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            {% for header in headers %}
            <td class="px-6 py-4 text-gray-900">{{ item[header] }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
